<header class="center-item">
  <div class="inner logo">
    <div class="logo__wrapper">
      <i class="fa fa-home" [routerLink]="['/']"></i>
    </div>
  </div>
  
  <div class="inner search">
    <div class="search__wrapper">
      <form class="search__form">
        <div class="form-group">
          <button class="search__form__button">
            <i class="fa fa-search"></i>
          </button>
          <input type="text" class="form-control search__form__input">
        </div>
      </form>
    </div>
  </div>

  <div class="inner action">
    <div class="action__wrapper">
      <button class="btn btn-success">
        <i class="fa fa-plus"></i>
        <span>Create new</span>
      </button>
    </div>
  </div>
</header>
