html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
}

* {
  box-sizing: border-box;
}

a.active {
  background-color: gray;
}

.sidenav-login-container {
  &.mat-sidenav {
    &-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
      z-index: -1;
    }

    &-opened {
      z-index: 99;
    }
  }
}

.app {
  &__action {
    margin-top: 100px;

    button {
      cursor: pointer;
      width: 150px;
      padding: 15px 20px;
    }
  }
}
